<h1 class="text-center">Editing Article</h1>

<%= render 'form', article: @article %>

<div class="container text-center mx-auto">
<%= link_to 'Show', @article, class: "btn btn-success text-center" %> |
<%= link_to 'Back', articles_path,  class: "btn btn-primary text-center"%>
</div>