<div class="container">
    <div class="about-container">
        <div class="img-container">
            <img src="assets/images/profilepic.jpg" alt="">
        </div>
        <div class="about-author-name">Kekeli Dogbevi Jiresse</div>
    </div>
    <h2 class="text-center text-uppercase p5">Write to Us</h2>
    <p class="about-paragragh">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, nobis! Quis, molestiae vitae adipisci
        repellendus cupiditate molestias facilis atque labore, ut assumenda iusto veniam! Culpa vitae libero deserunt
        nulla qui in eos, assumenda quas eaque magni repellat aut autem corporis voluptatibus ullam soluta id. Ut sed
        nostrum quibusdam aspernatur magni facilis vero fugit harum, necessitatibus repudiandae sunt atque illo. Non ex
        nihil, enim labore culpa qui dignissimos adipisci vitae veritatis id necessitatibus beatae voluptas maiores,
        accusamus eaque. Ducimus consequuntur corporis alias nostrum blanditiis suscipit excepturi, vel est vero,
        corrupti voluptates libero id, temporibus fugiat! Aliquam perspiciatis doloribus reiciendis voluptas minus fugit
        ipsam animi, assumenda, laborum placeat voluptatibus consectetur repellendus quasi iste cum adipisci magnam
        eaque illo quam amet officia! Debitis explicabo similique hic expedita, magni ducimus nisi? Veniam doloremque
        adipisci dicta iure ullam sequi culpa, totam, repellat expedita illo cumque aliquam vero ea dolorum distinctio
        inventore tempora? Itaque esse in saepe nobis. Consequuntur vel sed sapiente mollitia repellendus tempora
        nostrum in voluptates eaque ut blanditiis, animi ipsa ab vero et optio deleniti accusantium inventore suscipit
        molestiae porro dolorem fuga. Sapiente non sequi repellat exercitationem reprehenderit delectus ullam? Voluptate
        incidunt eos veniam, minima pariatur ratione dolorum id architecto debitis nostrum alias esse cum repellendus!
        Reiciendis iusto suscipit debitis excepturi! Neque vel modi earum recusandae sint consectetur cum maiores
        accusantium ad explicabo. Ex nam cumque est illum aliquid distinctio, dolore rem. Earum tempore harum fugiat
        illum nobis suscipit tenetur ipsam vitae quidem recusandae, distinctio delectus eligendi asperiores enim aliquam
        adipisci quam. Dicta vero consequatur, possimus quaerat aperiam a rerum impedit libero sed. Nemo sequi odio
        magni laborum tempora ipsam numquam id provident veritatis, possimus doloremque earum culpa rerum natus
        similique nihil et repellat velit. Non numquam veniam sequi deleniti reprehenderit mollitia, obcaecati est,
        optio voluptatum repellat aliquam possimus. Non excepturi numquam temporibus nesciunt consectetur, quaerat
        molestias aspernatur amet fugit at nobis commodi, incidunt laboriosam ex autem? Quibusdam nesciunt laboriosam
        provident earum, molestias neque vitae impedit aliquid beatae quasi tempore ducimus porro similique dolorum
        recusandae? Consectetur sapiente dolorem, mollitia eligendi vero magnam at debitis autem possimus, quos ratione
        dolore aut eaque dolor odit vitae, fuga perspiciatis nobis rerum sed impedit error velit? Impedit, unde.
        Blanditiis voluptas distinctio vel doloribus culpa maiores, accusamus magni omnis deserunt officia perferendis
        aliquid assumenda quisquam iusto qui possimus quaerat accusantium harum! Ipsa dolor pariatur, quasi sapiente at
        quo suscipit, nostrum similique cum aperiam, alias tempore perspiciatis soluta incidunt? Repellat illum sapiente
        veniam quisquam deserunt harum iusto modi ut ipsam est alias, pariatur molestias ex reiciendis? Doloribus
        nesciunt laboriosam, esse, ullam, excepturi ad repudiandae amet alias quo vitae veritatis sint iure? Qui
        consequuntur esse, ipsa animi earum dicta deleniti eligendi eaque aspernatur? Eligendi labore fugiat enim
        possimus et atque provident? Quas magni maxime rem repudiandae suscipit ducimus cupiditate corporis aspernatur
        aliquid ullam eaque quasi cum, dolore animi expedita inventore facere? Sequi voluptates pariatur impedit soluta
        aliquam! Nulla, eos cumque! Possimus laudantium esse, saepe accusamus beatae sed earum eos eius optio ipsa,
        commodi autem vitae? Odit qui nam dolor ex, aliquid ipsam quasi incidunt soluta recusandae voluptatem, molestiae
        maiores minus, ullam illo architecto non hic ipsa nostrum fugit! Nostrum quod sunt iste minus corporis possimus
        voluptas nihil est blanditiis libero porro voluptate corrupti eveniet reprehenderit vel animi laborum harum,
        quasi natus autem. Atque sed assumenda iure excepturi possimus architecto facere quia? Fugit architecto quam eos
        ratione, ipsum quae numquam enim eius alias sapiente temporibus minima debitis vero amet deserunt quaerat
        molestiae. Distinctio laborum, quasi atque accusantium nihil, qui ratione eos necessitatibus et officia
        dignissimos! Iure temporibus omnis quos cumque laboriosam odit modi adipisci placeat nisi fuga. Consequatur et
        ex repellendus?
    </p>
</div>