<div class="container">
    <div class="jumbo-centers jumbo-centers-img">
        <h3 class="text-center text-uppercase font-weight-bolder font-size-large text-white p5">The linux Journal</h3>
        <a href="#" class="btn btn-success text-uppercase">Sign up to the newsletter</a>
    </div>
    <h4 class="p5 text-center font-size-large">Lorem ipsum dolor sit amet consectetur</h4>
    <p class="fill">
         adipisicing elit. Animi ullam facere eaque velit ipsum hic totam vitae
        quas? Natus corporis, tempore autem nihil eveniet odit, dignissimos fugit non laboriosam perspiciatis, tenetur
        rem? Fugit id sit quisquam cumque provident vel, iste totam fugiat! Temporibus dolores tempore numquam quo
        officia cum quod, ducimus, earum aspernatur, ea voluptas. Expedita, doloribus perferendis! Perferendis quo nihil
        vitae soluta consectetur, sed adipisci aliquid reiciendis autem porro id libero laboriosam distinctio. Possimus
        tenetur eius facilis repellat animi accusamus, voluptatem tempore fugiat perferendis architecto mollitia
        quibusdam repudiandae quia! Provident labore molestias delectus dicta nam voluptate a quia aspernatur odit, non
        corrupti, veniam nisi expedita explicabo! Sed doloremque temporibus distinctio cupiditate molestiae, rem sit
        magnam quas blanditiis inventore labore voluptatem vel amet omnis, aspernatur quis porro laudantium consequatur
        eaque. Explicabo quibusdam animi maiores doloremque enim sint magnam cum reiciendis numquam consequatur tenetur,
        saepe architecto! Incidunt beatae deleniti inventore alias explicabo quisquam ipsam sunt necessitatibus
        reiciendis sed. Provident ea eius nulla natus earum laudantium dignissimos magni rerum illo impedit optio,
        architecto ipsum consequatur expedita dolores consectetur dicta fugit iusto, ratione nobis, ipsa beatae. Libero
        quis dolores vitae, rem repellat aliquam impedit, earum velit molestias, mollitia quibusdam modi ab. Sint, ipsa.
    </p>
</div>