// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$success: #20a820;

//helper classes

.text{

    &-uppercase{
    text-transform: uppercase;
    }  
    
    &-white{
        color: white;
    }
    &-grey{
        color: grey;
    }
    &-success{
        color: $success;
    }

    &-danger{
        color: red;
    }
    &-center{
        text-align: center;
    }
}

.p{
    &5{
        padding: 30px;
    }
    &b{
        &-3{
            padding-bottom: 15px;
        }
        &-5{
            padding-bottom: 25px;
        }
    }
}

.font{
    &-size{
        
        &-small{
            font-size:10px;
        }
        &-medium{
            font-size: 20px;
        }
        &-large{
            font-size: 25px;
        }
    }
    &-weight{

    &-bold{
        font-weight: bold;
    }
    &-bolder{
        font-weight: bolder;
    }
}
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}


@mixin hover_grey {
    text-decoration: underline;
    color: rgb(209, 209, 209);
}

// navigation-style
.nav{

    &-brand{
        float: left;

        &-link{
            &:hover{
                @include hover_grey()
            }
        }
    }
    background-color: $success;

    &_ul{
        display: flex;
        justify-content: end;
    }

    &-li{
        text-transform: uppercase;
        padding-right: 10px;
    }
    &-link{

        &:hover{
            @include hover_grey()
        }
    }
}

.footer{
    padding: 20px;
    background-color: $success;
    color: white;
}


//end navigation style

.container{

    width: 80%;
    margin: 20px auto;
    
}

.jumbo-centers{
    max-width: 800px;
    max-height: 600px;
    background: red;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    min-width: 400px;
    min-height: 400px;
    border-radius: 20px;
    &-img{
        background: linear-gradient(350deg, rgba(46, 147, 0, 0.57), rgba(0, 102, 35, 0.6)), url("center-img.png");
    background-position: center;
    }
}

.btn{
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: all .2s;
    &-success{
        background-color: $success;
        &:hover{
            background-color: green;
            border: 1px solid grey;
        }
    }
}