<nav class="nav p4">
    <h1 class="nav-brand px-small">
        <%= link_to 'The Linux Foundation', root_path, class: "nav-brand-link text-uppercase  text-white font-size-large"%>
    </h1>

    <ul class="nav_ul">
        <li class="nav-li">
            <%= link_to 'Home', root_path, class: "nav-link text-white"%>
        </li>
        <li class="nav-li">
            <%= link_to 'Blog', articles_path, class: "nav-link text-white"%>
        </li>
        <li class="nav-li">
            <%= link_to 'About', home_about_path, class: "nav-link text-white"%>
        </li>
    </ul>
</nav>