<nav class="nav p5">
    <h1 class="nav-brand">
        <a href="#" class="nav-brand-link text-uppercase text-white font-size-large">The Linux Foundation</a>
    </h1>

    <ul class="nav_ul">
        <li class="nav-li">
            <a href="#" class="nav-link text-white">Home</a>
        </li>
        <li class="nav-li">
            <a href="#" class="nav-link text-white">About</a>
        </li>
    </ul>
</nav>